@model AnvizWeb.Models.EmployeeData

@{
    ViewData["Title"] = "staffDetails";
}

<h1>staffDetails</h1>

<div>
    <h4>EmployeeData</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uploaded)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedFromOldLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedFromOldLocation)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditStaffStatus", new { employeeNumber=Model.EmployeeNumber }) |
    <a asp-action="getStaff">Back to List</a>
</div>
